html {
    font-family: 'Nova Square', cursive;
}
#container {
    width: 100%;
}
#calculator {
    width: 369px;
    border-style: solid;
    border-color: #555;
    border-width: 3px;
    border-radius: 10px;
    background-color: #79a4f9;
    padding: 10px;
}
#grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 90px 90px 90px 90px;
    grid-gap: 3px;
}
#output-screen {
    height: 30px;
    width: 290px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: #555;
    border-width: 2px;
    border-radius: 3px;
    font-family: 'Nova Square', cursive;
    font-size: 25px;
}
#equals {
    background-color: #92f8f1;
    font-size: 1.5em;
}
#clear {
    background-color: #f84040;
    color: white;
}
.btn {
    font-family: 'Nova Square', cursive;
    font-size: 1.3em;
    border-style: solid;
    border-color: #555;
    border-width: 2px;
    border-radius: 3px;
}
.btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.value-btn {
    background-color: #79f9af;
}
.operator {
    background-color: #555;
    color: white;
    font-size: 1.5em;
}